.carousel-card {
    width: 230px;
    height: 440px;
}
::-webkit-scrollbar {
    display: none;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: color 0.5s ease;
}
.buttons :hover{
    cursor: pointer;
    color: red;
}
