.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.products {
    width: 70%;
}

.order-summary {
    width: 30%;
    position: sticky;
}

.titles {
    display: flex;
    align-items: center;
}

.details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 960px) {
    .products {
        width: 100%;
    }
    .order-summary {
        width: 50%;
    }
    .container{
        display: block;
    }
}

@media (max-width: 650px) {
    .titles {
        display: none;
    }
    .order-summary {
        width: 100%;
    }
    .title-details{
        display: none;
    }
}

@media (max-width: 550px) {
    .details {
        display: block;
        align-items: center;
        width: auto;
    }
}